.banner::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: #000000;
    width: 100%;
    height: 15em;
    top: 0;
  }
.banner{
    background-image: url('../img/page-header.png');
    text-align: center;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 15em;
    position: relative;
    /* filter: blur(1px);  */
    /* filter: grayscale(100%); */

}
.banner h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: bolder;
    padding-top: 2.5em;
    font-family: 'Playfair Display', serif;
}
.under-line{
    background-color: #fff;
    width: 84px;
    display: block;
    position: absolute;
    height: 4px;
    left: 47%;
    top: 96%;
}

.history-col{
    background-color: #F1F1F1;
    padding-top: 5em;
    padding-bottom: 3em;
    text-align: justify;
}
.image-col img{
    max-width: 500px;
    /* clip-path: circle(50%); */
}
.mission-vision-col{
    padding-top: 5em;
    padding-bottom: 3em;
}

.mission-vision{
    display: flex;
    position: relative;
    height: 10em;
    width: 60%;
    top: 20px;
    z-index: 99;
    background-color: #fff;
    box-shadow: 1px 2px 6px #858688;
    left: 20%;
}
.commitment{
    margin: auto;
    text-align: center;
}
.mv{
    width: 33%;
    border-left: #F1F1F1 solid 1px;
}
.mv h2{
    font-size: 1.76em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    z-index: 100;
}
.mv p{
    text-align: center;
}


.vision{
    background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.68)), url('../img/vision.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
    color: #F1F1F1;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .image-col img{
        width: 100%;
    }

    .mission-vision{
        display: block;
        height: auto;
        width: 100%;
        left: 0;
    }
    /* .commitment{
        margin: auto;
        text-align: center;
    } */
    .mv{
        width: 100%;
    }
}