
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: #EE6136;
}

.wrapper{
width: 100%;
color: #565656;
}
#logo-img{
    width: 90px;
    margin-left: 20px;
}
.active a{
    color: #EE6136;
}
.v-line{
    margin-left: 100px;
    border-right: #E5E5E5 dotted 1px;
    height: 40px;
    display: inline-block;
}
.navbar{
    z-index: 99;
}

.nav-link{
    color: #858688;
}

.nav-link:hover{
    color: #EE6136;
}
.nav-link:visited{
    color: #858688;
}
.active{
    color: #EE6136 !important;
}

.nav-icons{
    word-spacing: 2em;
}

.swiper-slide{
    height: 80vh;
}
.slider-ctrl{
   background-color: #EE6136; 
   color: #fff;
   height: 44px;
   width: 44px;
}
/*
service menu
*/
.services{
    margin: auto;
    background-color: #fff;
    position: relative;
    height: 110px;
    width: 60%;
    background-color: #fff;
    top: -50px;
    z-index: 99;
    box-shadow: 1px 2px 6px #858688;
    display: flex;
}

.services .item{
    width: 20%;
}
.services .item i{
    text-align: center;
    display: block;
    padding-top: 15px;
    font-size: 20px;
    color: #858688;
}
.services .item img{
margin: auto;    
display: block;
    padding-top: 15px;
    width: 25px;
}
.services .item h2{
    font-size: 1.0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #EE6136;
    font-weight: 600;
    padding-top: 10px;
    border-left: #E5E5E5 solid 1px;
}
#player{
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .services .item:hover{
        height: 130px;
        margin-top: -10px;
        background-color:#EE6136;
        color: #fff;
        box-shadow: 1px 2px 6px #858688;
    }

    .services .item:hover h2{
        border:none;
        color: #fff;
    }
    .services .item:hover i{
        color: #fff;
        padding-top: 20px;
    }
    .services .wealth:hover img{
        content: url('../img/icons8-mortgage-white.png');
        padding-top: 20px;
    }
    .services .career:hover img{
        content: url('../img/icons8-career-ladder-white.png');
        padding-top: 20px;
    }
    
}


/*
About section
*/
.about{
    padding-top: 3em;
    padding-bottom: 8em;
}
.about img{
    max-width: 380px;
}

.title{
    color: #858688;
    text-transform: uppercase;
}
.title .line-mark{
    display: inline-block;
    height: 21px;
    background-color: #EE6136;
    width: 4px;
    
}
.about p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.service-feature{
    background-color: #EE6136;
    padding-top: 5em;
    padding-bottom: 5em;
}
.watch-word{
    margin-bottom: 3em;
}
.watch-word h2{
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.4em;
    letter-spacing: 2px;
    margin-left: 30%;
    margin-top: 2.5em;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    position: relative;
}
.service{
    padding: 2rem;
    border: 1px solid #fff;
    position: relative;
    margin-bottom: 1em;
}
.service .icon{
    background-color: #EE6136;
    color: #E5E5E5;
    font-size: 2em;
    position: absolute;
    top: -25px;
    padding-left: 15px;
    padding-right: 15px;
}
.icon img{
    opacity: 0.8;
    width: 35px;
}
.service h3{
    color: #F1F1F1;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: Geneva, Verdana, sans-serif;
}
.service p{
    color: #e0dbdb;
    font-family: Roboto, 'sans-serif';
    font-size: 14px;

}
.gallery{
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
}
.video-text{
    background-color: #F1F1F1;
    color: #EE6136;
    height: 100%;
    width: 100%;
    position: relative;
}
.video-text h3{
    transform: rotate(-90deg);
    padding-top: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
    top: 41%;
    left: 5%;
    position: absolute;
    text-shadow: 1px 3px 1px #ccc;
}



.newsletter{
    background-color: #F1F1F1;
    padding-top: 3em;
    padding-bottom: 5em;
}

.title-2{
    color: #EE6136;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: Roboto;
    font-weight: bold;
}
.title-2 .line-mark-2{
    display: inline-block;
    height: 17px;
    background-color: #858688;
    width: 5px;
    
}
.btn-metas{
    background-color: #EE6136;
    color: #fff;
    font-size: 1em;
    
    text-align: center;
    border-radius: 0px;
}
.btn-metas:hover{
    background-color: rgb(192, 60, 19);
    box-shadow: 1px 2px 6px #858688;
    color: #fff;
    /* transform: translate(10px); */
}
.form-control{
    border: #EE6136 1px solid;
    border-radius: 0;
}
.form-control:focus{
    border: #EE6136 1px solid;
    box-shadow: 1px 2px 5px #EE6136;
}
.footer{
    display: flex;
    color: #f1f1f1;
}
.footer .left-col{
    background-color: rgb(192, 60, 19);
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 30px;
    padding-right: 30px;
}
.left-col p{
    padding-top: 20px;
    text-align: justify;
    
}
.footer .right-col{
    background-color: #EE6136;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}
.right-col h2{
    font-size: 1.4rem;
    font-weight: bold;
}
.contact-body{
    width: 80%;
    border-right: #F1F1F1 solid 1px;
    padding-top: 1.5em;
}

.contact-body i{
    padding-right: 10px;
}
.contact-body span{
    font-size: 13px;
    font-weight: 900;
}
.links{
    padding-top: 1.5em;
    list-style: none;
}
.links li{
    padding-bottom: 10px;
    font-weight: 900;
}
.links li a:hover{
    color: #fff;
}


/* service */
.contact-form{
    padding-top: 3em;
    padding-bottom: 5em;
}

/* Mobile */
.navbar-collapse{
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .v-line{
        margin-left: -20px;
    }
    .services {
        width: 80%;
        height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      top: -120px;
    }
    .services .item{
        width: 100% !important;
    }
   
    .services .item h2{
        font-size: 0.8em;
      
    }
    .about{
        padding-top: 0px;
        margin-top: -68px;
        padding-bottom: 1em;
    }
    .about img{
        padding-bottom: 20px;
        max-width: 260px;
    }
    .service-feature{
        padding-top: 0px;
    }
    .services-container{
        display: block;
    }
    .service{
        margin-bottom: 2em;
    }
    .newsletter{
        padding-bottom: 3em;
    }
    .gallery{
        display: block;
        padding-top: 2em;
        padding-bottom: 2em;
    }
     .video-text{
        display: none;
       
    }
    /* .video-text h3{
        transform: rotate(0deg);
        font-size: 2rem;
        font-weight: 900;
        padding-bottom: 3em;
        position: relative;
    } */
    .player-col{
        display: block;
        margin-top: 2em;
    }
    #player{
        width: 100%;
    }

    .form-row{
        display: block;
    }
    .form-row input{
        margin-top: 10px;
    }
    .btn-metas{
        margin-top: 10px;
    }
    .contact-body{
        width: 100%;
        border: none;
    }
    .footer{
        display: block;
    }
    .footer .right-col{
        display: block;
    }
  }


  /*
  .services .item{
    width: 20%;
}
.services .item i{
    text-align: center;
    display: block;
    padding-top: 15px;
    font-size: 20px;
    color: #858688;
}
.services .item img{
margin: auto;    
display: block;
    padding-top: 15px;
    width: 25px;
}
.services .item h2{
    font-size: 1.0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #EE6136;
    font-weight: 600;
    padding-top: 10px;
    border-left: #E5E5E5 solid 1px;
}

.services .item:hover{
    height: 130px;
    margin-top: -10px;
    background-color:#EE6136;
    color: #fff;
    box-shadow: 1px 2px 6px #858688;
}

  
  */